data/cache
src/.umi/
.idea/
.history/
base_service/conf/app.conf
adminEditor/node_modules
admin/node_modules
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock
.workflow
.DS_Store

flowable-springboot/target/classes/com/cvicse/FlowableSpringbootApplication.class
